<h1>ブログ記事一覧</h1>
<ul>
<% @posts.each do |post|%>
	<li>
		<%= link_to post.title, post_path(post.id)%>
		<%= link_to '削除する', post_path(post.id), method: :delete%>
	</li>
<% end %>
</ul>
<%= link_to '新しいブログを書く', new_post_path %>